@import url('https://fonts.googleapis.com/css2?family=Kablammo&display=swap');
body{
	background-color: lightgreen;
}
p{
	background-color: lightseagreen;
	color: green;
	font-size: 50px;
	font-family: 'Kablammo', cursive;
	text-align: center;
}
ul,ol,dl{
	color: black;
	font-size: 24px;
}
.l1 li{
	padding-left: 10px;
}
.l2 li::marker{
	color: red;
}
ol{
	margin-left: 50px;
}
@counter-style circled-digits {
  system: fixed;
  symbols: 😀 👻 👽 👾 🤖 🎃 😹 👋 👀 💋;
  suffix: " ";
}

ul {
  list-style: circled-digits;
}

ul {
  list-style: circled-digits;
}